.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(60, 60, 60, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    width: 80%;
    height: 80vh;
    max-width: 500px;
    background: white;
    border-radius: 3px;
    padding-bottom: 20px;
    overflow-y: auto;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid #999;
}

.head button {
    padding: 8px;
    font-size: 13px;
}
